<form [formGroup]="formGroup" class="container form-horizontal">
  <div class="form-row">
    <div class="col">

      <h1 class="text-center display-4">With Special Caracter</h1>

      <div class="form-group col-md-6 offset-md-3 mb-2">
        <label class="col-form-label" for="phone">DDD + Telefone</label>
        <div class="input-group">
          <input formControlName="phone" type="text" class="form-control" [dropSpecialCharacters]="false" mask="(99) 99999-9999">
        </div>

        <div *ngIf="formGroup.controls['phone'].touched && !formGroup.controls['phone'].valid">
          <small class="form-text text-danger" *ngIf="formGroup.controls['phone'].hasError('required')">
              Telefone obrigatório.
          </small>
          <small class="form-text text-danger" *ngIf="formGroup.controls['phone'].hasError('pattern')">
            Telefone deve estar no formato (99) 99999-9999
          </small>
        </div>        
      </div>

      <div class="form-group col-md-6 offset-md-3 mb-2">
        <label class="col-form-label" for="postalCode">CEP</label>
        <div class="input-group">
          <input formControlName="postalCode" type="text" [dropSpecialCharacters]="false" mask="99999-999" class="form-control">
        </div>

        <div *ngIf="formGroup.controls['postalCode'].touched && !formGroup.controls['postalCode'].valid">
          <small class="form-text text-danger" *ngIf="formGroup.controls['postalCode'].hasError('required')">
            CEP obrigatório.
          </small>
          <small class="form-text text-danger" *ngIf="formGroup.controls['postalCode'].hasError('pattern')">
            CEP deve estar no formato 99999-999.
          </small>
        </div>
      </div>

      <h1 class="text-center display-4">Without Special Caracter</h1>

      <div class="form-group col-md-6 offset-md-3 mb-2">
          <label class="col-form-label" for="phone2">DDD + Telefone</label>
          <div class="input-group">
            <input formControlName="phone2" type="text" class="form-control" [dropSpecialCharacters]="false" mask="99999999999">
          </div>
  
          <div *ngIf="formGroup.controls['phone2'].touched && !formGroup.controls['phone2'].valid">
            <small class="form-text text-danger" *ngIf="formGroup.controls['phone2'].hasError('required')">
                Telefone obrigatório.
            </small>
            <small class="form-text text-danger" *ngIf="formGroup.controls['phone2'].hasError('pattern')">
              Telefone deve estar no formato (99) 99999-9999
            </small>
          </div>        
        </div>
  
        <div class="form-group col-md-6 offset-md-3 mb-2">
          <label class="col-form-label" for="postalCode2">CEP</label>
          <div class="input-group">
            <input formControlName="postalCode2" type="text" [dropSpecialCharacters]="false" mask="99999999" class="form-control">
          </div>
  
          <div *ngIf="formGroup.controls['postalCode2'].touched && !formGroup.controls['postalCode2'].valid">
            <small class="form-text text-danger" *ngIf="formGroup.controls['postalCode2'].hasError('required')">
              CEP obrigatório.
            </small>
            <small class="form-text text-danger" *ngIf="formGroup.controls['postalCode2'].hasError('pattern')">
              CEP deve estar no formato 99999-999.
            </small>
          </div>
        </div>      


    </div>
  </div>
</form>